body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(#fff0f5, #ffe4e1);
  font-family: 'Comic Sans MS', cursive;
  overflow: hidden;
}

.ui {
  text-align: center;
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 10;
}

h1 {
  font-size: 22px;
}

button {
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
  background: pink;
  font-size: 16px;
}

#score {
  margin-top: 6px;
  font-size: 16px;
  color: #ff4d88;
}

.emoji {
  position: absolute;
  cursor: pointer;
  font-size: 32px;
  user-select: none;
}
